* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #141414;
    color: #d2d4d7;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.icon-container {
    display: flex;
    align-content: center;
    align-items: center;
    width: 1000px;
    min-width: 1070px;
    margin: 20px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-right: 40px;
}

.icon-text span {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 48px;
}

.main-auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10%
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px #363738;
}

.auth-container input {
    width: 300px;
    height: 40px;
    margin: 5px;
    font-size: 14px;
    padding: 5px;
}

.auth-container button {
    width: 300px;
    height: 40px;
    margin: 10px;
}
