* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html, body {
    background-color: #141414;
}

:root {
    --container-color: #222222;
    --border-color: #363738;
    --items-color: #363738;
    --text-color: #d2d4d7;
    --button-backgorund: #d2d4d7;
    --button-text-color: #222222;
}

header {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: var(--container-color);
    color: var(--text-color);
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 200;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
}

.remote-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-height: 320px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--container-color);

    .select-server {
        display: flex;
        justify-content: center;


        select {
            width: 185px;
            height: 40px;
            margin: 10px 5px 0 10px;
            padding: 10px;
            border-radius: 10px;
            transition: border 0.3s;
            outline: none;
            color: var(--text-color);
            background-color: var(--items-color);
            border: 1px solid var(--items-color);
        }

        select:hover {
            border: 1px solid #71aaeb;
            cursor: pointer;
        }
    }

    .change-date {
        display: flex;
        justify-content: center;

        input {
            width: 185px;
            height: 40px;
            margin: 10px 10px 0 5px;
            padding: 10px;
            border-radius: 10px;
            transition: border 0.3s;
            outline: none;
            text-align: center;
            color: var(--text-color);
            background-color: var(--items-color);
            border: 1px solid var(--items-color);
        }

        input:hover {
            border: 1px solid #71aaeb;
            cursor: pointer;
        }
    }

    .input-nicknames-container {
        display: flex;
        justify-content: center;

        label {
            width: 380px;
        }

        input {
            height: 40px;
            width: 380px;
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            transition: border 0.3s;
            outline: none;
            color: var(--text-color);
            background-color: var(--items-color);
            border: 1px solid var(--items-color);

        }

        input:hover {
            border: 1px solid #71aaeb;
        }
    }

    .check-boxes {
        display: flex;
        flex-direction: column;

        label {
            margin: 10px 10px 0 10px;
            color: var(--text-color);
        }

        label:hover {
            cursor: pointer;
        }

        input[type="checkbox"] {
            appearance: none;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            border: 2px solid var(--items-color);
            border-radius: 4px;
            background-color: var(--container-color);
            cursor: pointer;
            transition: background-color 0.3s, border 0.3s;
        }

        input[type="checkbox"]:checked {
            background-color: #71aaeb;
            border-color: #71aaeb;
        }
    }

    .start-search-button-container {
        display: flex;
        justify-content: center;

        button {
            width: 380px;
            height: 40px;
            margin: 10px;
            border-radius: 10px;
            border: none;
            background-color: var(--button-backgorund);
            transition: background-color 0.3ms linear;
        }

        button:hover {
            background-color: #979797;
            cursor: pointer;
        }
    }
}

.search-container {
    display: flex;
    flex-direction: column;

    textarea {
        width: 750px;
        max-width: 750px;
        min-width: 600px;
        height: 800px;
        margin-top: 10px;
        padding: 10px;
        resize: none;
        outline: none;
        border: none;
        border-radius: 10px;
        color: var(--text-color);
        background-color: var(--container-color);
        -ms-scrollbar-base-color: #71aaeb
    }

    textarea::-webkit-scrollbar {
        width: 8px;
        border-radius: 10px;
    }

    textarea::-webkit-scrollbar-track {
        background: var(--button-backgorund);
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: #71aaeb;
        border-radius: 20px;
    }
}


.remote-container, .search-container {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


